<body>
  <div class="menuSites">
    <a routerLink="/home" >Home</a>
    <a routerLink="/about" >About</a>
    <a routerLink="/albums" >Albums</a>
  </div> 
  <!-- <nav>
    <ul class="main-menu-bar">
      <li class="main-menu-option">
        <a routerLink="/home" class="main-menu-option">Home</a>
      </li>
      <li class="main-menu-option">
        <a routerLink="/about" class="main-menu-option">About</a>
      </li>
      <li class="main-menu-option">
        <a routerLink="/albums" class="main-menu-option">Albums</a>
      </li>
    </ul>
  </nav> -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</body>